.logo{
    height: 50%;
    width: 50%;
}

.my-form-label{
    width: 327px;
}


.form-container{
    background-color: #eef2f6;
}

.form-field{
    display: block
}

.my-button{
    margin-top: 20px;
    width: 327px;
}