@import '../../../variables.scss';

.example-container {
    position: absolute;
    top: 55px;
    bottom: 0px;
    left: 0;
    right: 0;
  }
  
  .example-sidenav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 200px;
    background: $nav-background;
  }
  
  .example-header {
    background: $nav-background;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  li{
    padding-top: 100px;
  }

  .menu-icon:focus{
    outline: none !important;
    border: none !important;
  }