$icon-main-color: white;
$icon-main-color-hover: darken($icon-main-color, 5%);
$nav-background: #0a5ea4;
$app-background: #eef2f6;
$outline-focus: #A31F1A;






// Azul : 0a5ea4

// Cor para detalhes

// vermelho : A31F1A

// Para fundos
// Branco azulado: eef2f6