@import '../../../../../variables.scss';
@import '../../../../../theme.scss';

.example-container {
    height: 155px;
    overflow: auto;
  }
  
  table {
    text-align: center;
    width: 100%;
  }
  
  .mat-row:nth-child(even){
    background-color: #0a5fa480;
    }

    .example-full-width {
      width: 100%;
      font-size: large;
    }

    .example-form {
      min-width: 150px;
      max-width: 500px;
      width: 100%;
    }

button {
    width: 200px;
    margin: 3px;
    outline-color: $outline-focus;
} 

